@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

$font_style: "Ubuntu", sans-serif;

$background_color: #000000;
$about_color: #ae7446;
$stacks_color: #bc8766;
$socials_color: #66a5c2;
$projects_color: #fdf0d5;
$email_color: #ae464c;
